<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elf.donordarah">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">
        <activity android:name=".ui.chart.ChartActivity"></activity>
        <activity android:name=".ui.add_edit_donor.AddEditDonorActivity" />
        <activity android:name=".ui.add_edit_submission.AddEditSubmissionActivity" />
        <activity android:name=".ui.intro.IntroActivity" />
        <activity android:name=".ui.splash.SplashActivity" />
        <activity android:name=".ui.information.InformationActivity" />
        <activity android:name=".ui.submission.SubmissionActivity" />
        <activity android:name=".ui.register.RegisterActivity" />
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.detail_stock.DetailStockActivity" />
        <activity android:name=".ui.detail_schedulle.DetailSchedulleActivity" />
        <activity android:name=".ui.detail_information.DetailInformationActivity" />
        <activity android:name=".ui.detail_news.DetailNewsActivity" />
        <activity android:name=".ui.news.NewsActivity" />
        <activity android:name=".ui.help.HelpActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>